<a class="medium radius button wepay-widget-button wepay-green" 
  id="wepay_widget_anchor_52c1d3af8c3df" 
  href="https://www.wepay.com/events/174966">
  Post a Job
</a>
<script type="text/javascript">var WePay = WePay || {};WePay.load_widgets = WePay.load_widgets || function() { };WePay.widgets = WePay.widgets || [];WePay.widgets.push( {object_id: 174966,widget_type: "event_buy_now",anchor_id: "wepay_widget_anchor_52c1d3af8c3df",widget_options: {ticket_id: "67008",reference_id: ""}});if (!WePay.script) {WePay.script = document.createElement('script');WePay.script.type = 'text/javascript';WePay.script.async = true;WePay.script.src = 'https://static.wepay.com/min/js/widgets.v2.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(WePay.script, s);} else if (WePay.load_widgets) {WePay.load_widgets();}</script>
